{% load static %}
{% csrf_token %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing Page</title>
        <link rel="stylesheet" href="{% static 'css/styles_landing_page.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Latest Announcements</h1>
            <div class="announcements">
                {% for announcement in announcements %}
                    <div class="announcement-block">
                        <a href="{% url 'main_app:announcement_detail' announcement.id %}">{{ announcment.title }}>
                            {{ announcement.title }}
                        </a>
                    </div>
                {% empty %}
                    <p>No announcements yet.</p>
                {% endfor %}
            </div>
        </div>

<br>
<a href="{% url 'main_app:add_announcement' %}">add_announcement</a>
<br>
<a href="{% url 'main_app:logout' %}">logout</a>
<br>
    </body>
    </html>
